:root {
    --card-color: #f6f8fb;
    --title-color: #6F71BB;
    --info-but-color: #6F71BB;
    --del-but-color: #FC4535;
    --info-but-hover-color: #C8C9E5;
    --info-nut-onclick-color: #B0B1DA;
    --green-color: #8BD147;
    --green-but-hover-color: #80BF43;
    --green-but-oncklick-color:#69973C;
    --grey-but-color: #7A7B7E;
}