<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/variables.css">
    <style>


    </style>
</head>
<body>


{{ template "header.html" .}}

<div class="main-container">

    <form class="search-container" action="/" method="get">
        <input class="search" type="text" name="price_from" placeholder="Цена от" value="{{ .SearchFrom }}">
        <input class="search" type="text" name="price_to" placeholder="Цена до" value="{{ .SearchUp }}">
        <input  class="search-button" type="submit" value="Найти">
    </form>

    <div class="price">
        {{.NoCards}}
    </div>
    <div class="card-group">



        {{range .payload }}
        <div class="card" href="{{$.DeliveryDomain}}/{{.ID}}">
            <img src={{.Image}} class="image">
            <div class="info">
                <div class="title">
                    {{.Title}}
                </div>
                <div class="price">
                    {{.Price}} руб.
                </div>
                <div>
                    <button class="info-button" onclick="window.location.href = '{{$.DeliveryDomain}}/{{.ID}}';">
                        Подробнее об услуге
                    </button>

                    <form action="/add/{{.ID}}" method="post">
                        <button class="info-button" >
                            Добавить
                        </button>
                    </form>
                </div>
            </div>

        </div>
        {{end}}
    </div>
    {{ template "basket.html" . }}
</div>


</body>
</html>